<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Document</title>
</head>
<body>
    {% include '/components/header.html' %}
    {%if username is defined%}
        {{username}}
    {%else%}
        Войдите в аккаунт.
    {%endif%}
    <form action="/login", method="POST">
        <label for="username">username</label>
        <input type="text" name="username" id="username">
        <label for="password">password</label>
        <input type="password" name="password" id="password">
        <button type="submit">Подвердить</button>
    </form>
    <br>
    <a href="/register"><button>Нажмите сюда, чтобы зарегистрироваться.</button></a> 
    {% include '/components/footer.html' %}
</body>
</html>